@import '../../../styles/mixins';

.border-select {
  width: 100%;
  font-size: 12px;
  color: #ffffff;

  &__placeholder {
    font-size: inherit;
    color: inherit;
    max-width: 100%;
    border: none;
    min-width: 32px;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    transition: background-color 0.2s;
  }

  &__options {
    .icon {
      @include icon-size(18);
    }

    span {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 1px;
      max-width: 77px;
      outline: none;
      position: absolute;
      right: 0.6875em;
      width: 100%;

      -webkit-appearance: none;
    }
  }

  &__options span,
  .border-select__placeholder {
    span {
      height: 0;
      border-bottom-width: 1px;
      border-bottom-color: #ffffff;
      margin-top: 6px;
      display: block;
    }
  }
}

::ng-deep .mat-form-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding: 0;
    }
  }
}

::ng-deep {
  .mat-option {
    padding-left: 0.3125em !important;
    padding-right: 0.6875em !important;
  }

  .mat-option-text {
    align-items: center;
    display: flex;
  }
}

::ng-deep {
  .mat-select-trigger {
    min-height: 20px;
  }
}

svg:not(:root) {
  overflow: visible;
}

.shortdashed {
  overflow: hidden !important;
  stroke-width: 1px;
  stroke: #ffffff;
  stroke-dasharray: 1, 1;
}
.longdashed {
  overflow: hidden !important;
  stroke-width: 1px;
  stroke: #ffffff;
  stroke-dasharray: 6, 6;
}
