.button {
  background-color: #2A5AC1;
  border: 0;
  color: #ffffff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0.7em 0;
}

.group {
  padding-bottom: 1em;
  border-bottom: 1px solid #474747;
}
