@import "../../../../renderer/src/elements/spinner";

:host {
  position: relative;
}

.div-background{

  position: absolute;
  width: 100%;
  height: 100%;

}


img {
  width: inherit;
  height: inherit;
  user-select: none;
  pointer-events: none;
  object-fit: contain;
}


.default-image {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 0.125em;
  display: grid;
  justify-content: center;
  color: #aaa;
  text-align: center;

  &__text {
    display: none;
    font-size: 15px;
  }

  .icon {
    justify-self: center;
    align-self: end;
    width: 75px;
  }
}
