:host {
  display: inline-block;
  line-height: normal;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch;

  &:not(.interactions) {
    * {
      pointer-events: none;
      user-select: none;
      cursor: default;
    }
  }

  &.interactions {
    * {
      pointer-events: all;
      user-select: auto;
    }
    ::ng-deep {
      a {
        cursor: pointer;
      }
    }
  }

  // default anchor color
  ::ng-deep {
    a, a:visited, a:hover, a:active {
      color: inherit;
      text-decoration: none;
    }
  }
}

.content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: max-content;
  height: max-content;
}
