<div class="page page--without-title">
  <div class="group">
    <span class="group__label">ENTER THE DOMAIN YOU WANT TO CONNECT</span>
    <div class="group__items">
      <div class="group__item">
        <input class="group__item-input" type="text" value="businessname.co.uk"/>
        <div class="group__item-right-content">
          <button type="submit" class="group__item-submit-button" [disabled]="form.invalid || form.disabled">Connect</button>
        </div>
      </div>
    </div>
  </div>

  <div class="group">
    <span class="group__label">CONNECTING YOUR DOMAIN</span>
    <div class="group__items">
      <div class="group__item">
        <div class="group__item-label">
          To connect your domain, you need to log in to your provider account and change your settings. Follow the provider
          step-by-step instructions to get started.
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="group">
    <span class="group__label">VERIFY</span>
    <div class="group__items">
      <div class="group__item">
        <div class="group__item-label">Verify the connection to make sure your domain is set up correctly.</div>
        <div class="group__item-right-content">
          <button class="group__item-submit-button">Verify Connection</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
